{
	auto_https off
	log {
		output stdout
		format console
		level DEBUG
	}
}

http://www.agimate.lc:8000 {
	log
	reverse_proxy localhost:3000
}

http://api.agimate.lc:8000 {
	log

	handle /user/* {
		reverse_proxy localhost:8080
	}

	handle /device/* {
		reverse_proxy localhost:8180
	}

	handle /connectors/* {
		reverse_proxy localhost:8280
	}

	handle /connection/websocket {
		reverse_proxy localhost:9000
	}
}



http://localhost:8000 {
	handle /login/redirect {
		header Content-Type "text/html; charset=utf-8"
		respond <<HTML
			<!DOCTYPE html>
			<html>
			<head><title>Redirecting...</title></head>
			<body>
			<script>
				window.location.href = "http://api.agimate.lc:8000/user/login/oauth2/code/yandex" + window.location.search;
			</script>
			</body>
			</html>
			HTML 200
	}
}

http://centrifugo.agimate.lc:8000 {
	log
	reverse_proxy localhost:9000
}