http://www.agimate.lc:8000 {
        reverse_proxy localhost:3000
}

http://api.agimate.lc:8000 {
        handle /user/* {
                reverse_proxy localhost:8080
        }

        handle /device/* {
                reverse_proxy localhost:8180
        }

        handle /connectors/* {
                reverse_proxy localhost:8280
        }

        handle /connection/websocket {
                reverse_proxy localhost:9000
        }
}
